<br>
<br>
<br>
<h3 class="text-center">Add form:</h3>
<br>
<br>
<br><br><br>
<div class="container">
  <form #form="ngForm" (submit)="sendNewDataForm(form)" class="form-group">
    <div class="row">
      <div class="col-sm-4">
        <h4 class="text-center">Emp Name :</h4>
      </div>
      <div class="col-sm-5">
        <input
          class="form-control"
          type="text"
          name="empName"
          ngModel
          placeholder="Name"
        >
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <h4 class="text-center">Emp Active :</h4>
      </div>
      <div class="col-sm-5">
        <input
          class="form-control"
          type="checkbox"
          name="empActive"
          ngModel
        >
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <h4 class="text-center">Emp Department :</h4>
      </div>
      <div class="col-sm-5">
        <select #select class="form-control">
          <option *ngFor="let dpt of dptArray" [value]="dpt.dpID">
            {{dpt?.dpName}}
          </option>
        </select>
      </div>
    </div>
    <br>
    <div class="buttonContainer">
      <input type="submit" class="btn btn-success" value="Submit">
      <button class="btn btn-secondary" (click)="cancelAdd()">Cancel</button>
    </div>
  </form>
</div>
