<div class="container" style="margin-top: 300px">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <label>Name :</label>
      <h2 class="text-center">{{currentEmp?.empName}}</h2>
      <br><hr><br>
      <label>Active :</label>
      <h2 class="text-center">{{currentEmp?.empActive}}</h2>
      <br>
      <hr>
      <br>
      <label>Department :</label>
      <h2 class="text-center">{{currentEmp?.dpName}}</h2>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
